.cards {
    max-width: 1280px;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px 16px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(auto-fill, 352px);
        gap: 16px 16px;
        padding: 0 24px 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(auto-fill, 100%);
        gap: 16px 16px;
        margin-top: 64px;
        padding: 0 16px 0 16px;
    }
}