 @import url(./vendor/normalize.css);
 @import url('./fonts/inter.css');
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 ul,
 ol,
 li {
     margin: 0;
     padding: 0;
 }
 
 .body {
     background: #2A2C2F;
     border: 1px solid rgb(248, 11, 11);
     margin: 0 auto 0 auto;
 }
 
 .page {
     border-color: aqua;
     font-family: 'Inter', sans-serif;
     color: #fff;
     max-width: 1280px;
     margin: inherit;
 }
 
 .header {
     border: 1px solid rgb(248, 11, 11);
     margin: 0 48px 0 48px;
     display: flex;
     flex-wrap: nowrap;
     max-width: 1280px;
     padding-top: 28px;
     align-items: center;
     justify-content: space-between;
     align-content: space-between;
     align-self: center;
     row-gap: 18px;
 }
 
 .header__logo-container {
     border: 1px solid rgb(248, 11, 11);
     width: calc(100% - 96px);
 }
 
 .header__logo {
     border: 1px solid rgb(248, 11, 11);
     width: 176px;
     height: 52px;
 }
 
 .header__lang-link {
     border: 1px solid rgb(248, 11, 11);
     color: #fff;
     text-decoration: none;
     width: 30px;
     font-size: 24px;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: 0em;
     row-gap: 18px;
 }
 
 .intro {
     border: 1px solid rgb(248, 11, 11);
     margin: 48px auto 0 auto;
 }
 
 .intro__title {
     font-size: 96px;
     font-weight: 900;
     line-height: 100px;
     letter-spacing: 0em;
     text-align: center;
 }
 
 .intro__subtitle {
     font-size: 30px;
     font-weight: 400;
     line-height: 36px;
     letter-spacing: 0em;
     text-align: center;
     margin-top: 32px;
 }
 
 .image-section {
     border: 1px solid rgb(248, 11, 11);
     max-width: 984px;
     margin: 56px auto 0 auto;
 }
 
 .image-section__image {
     max-width: inherit;
     margin: 0 auto 0 auto;
 }
 
 .image-section__caption {
     font-size: 10px;
     font-weight: 400;
     line-height: 14px;
     letter-spacing: 1.5px;
     text-align: left;
     margin-top: 8px;
 }
 
 .description {
     border: 1px solid rgb(248, 11, 11);
     max-width: 690px;
     margin: 92px 0 0 0;
 }
 
 .description__question {
     font-size: 54px;
     font-weight: 900;
     line-height: 58px;
     letter-spacing: 0em;
     text-align: left;
 }
 
 .description__article {
     margin-top: 40px;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0em;
     text-align: left;
 }
 
 .description__digits {
     margin-top: 33px;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0em;
     text-align: left;
 }
 
 .cards {
     max-width: 1280px;
     border: 1px solid rgb(248, 11, 11);
     margin: 92px auto 0 auto;
     display: grid;
     grid-template-columns: repeat(auto-fill, 284px);
     gap: 16px 16px;
     justify-content: center;
 }
 
 .card__image {
     border: 1px solid rgb(248, 11, 11);
     object-fit: cover;
     width: 100%;
 }
 
 .places {
     border: 1px solid rgb(248, 11, 11);
     margin: 92px auto 0 auto;
     max-width: 984px;
     display: grid;
     grid-template-columns: 460px 1fr;
     column-gap: 40px;
 }
 
 .places__image {
     border: 1px solid rgb(248, 11, 11);
     object-fit: cover;
     width: 460px;
     max-height: 100%;
 }
 
 .places__title {
     margin: 80px 0 48px 0;
     font-size: 72px;
     font-style: normal;
     font-weight: 900;
     line-height: 76px;
     letter-spacing: 0em;
     text-align: left;
 }
 
 .places__title:first-child {
     margin-top: 0;
 }
 
 .places__url-text {
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 2px;
     color: #AAAAAA;
     margin-bottom: 12px;
 }
 
 .places__link {
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 22px;
     letter-spacing: 0em;
     text-align: left;
     text-decoration-line: underline;
     color: #FFFFFF;
 }
 
 .places__paragraph {
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 29px;
     letter-spacing: 0em;
     text-align: left;
     margin-bottom: 26px;
 }
 
 .places__paragraph:last-child {
     margin-bottom: 0;
 }
 
 .places__source-links {
     display: flex;
     flex-direction: column;
     align-self: flex-end;
     margin-bottom: 48px;
 }
 
 .final {
     border: 1px solid rgb(248, 11, 11);
     position: relative;
     display: flex;
     width: calc(100vw - 96px);
     height: calc((100vw - 96px) * 0.625);
     margin: 92px auto 0 auto;
     align-items: center;
     justify-content: space-around;
 }
 
 .final::after {
     content: "";
     background-color: #2A2C2F;
     background: url(./images/cover-trains.jpg);
     background-size: cover;
     opacity: 0.3;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: 0;
 }
 
 .final__text {
     top: 50%;
     left: 50%;
 }
 
 .final__text_title {
     font-size: 72px;
     font-style: normal;
     font-weight: 900;
     line-height: 76px;
     letter-spacing: 0em;
     text-align: center;
 }
 
 .final__text_subtitle {
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 22px;
     letter-spacing: 0em;
     text-align: center;
 }
 
 .footer {
     border: 1px solid rgb(248, 11, 11);
     display: flex;
     flex-wrap: nowrap;
     max-width: calc(100% - 96px);
     margin: 92px auto 24px auto;
     justify-content: space-between;
 }
 
 .footer__links {
     border: 1px solid rgb(248, 11, 11);
     display: flex;
     gap: 18px;
     align-items: flex-start;
 }
 
 .footer__link {
     border: 1px solid rgb(248, 11, 11);
     text-decoration: none;
     list-style-type: none;
     font-size: 16px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0em;
 }
 
 .footer__copyright {
     border: 1px solid rgb(248, 11, 11);
     text-decoration: none;
     list-style-type: none;
     font-size: 16px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0em;
     text-align: right;
 }
 
 @media screen and (max-width: 1024px) {
     .header {
         justify-content: space-between;
     }
     .image-section {
         width: 100%;
         max-width: 928px;
         margin: 56px auto 0 auto;
     }
     .image-section__image {
         max-width: 100%;
     }
     .cards {
         grid-template-columns: repeat(auto-fill, 300px);
         gap: 14px 14px;
     }
     .places {
         border: 1px solid rgb(248, 11, 11);
         margin: 92px auto 0 auto;
         max-width: 928px;
         display: grid;
         grid-template-columns: 440px 1fr;
         column-gap: 32px;
     }
     .places__image {
         width: 440px;
     }
     .final {
         width: 100%;
         height: calc(100vw * 0.625);
     }
     .footer {
         max-width: 100%;
         margin: 92px 48px 24px 48px;
     }
 }
 
 @media screen and (max-width: 768px) {
     .header {
         justify-content: space-between;
     }
     .image-section {
         max-width: 100%;
         margin: 56px auto 0 auto;
     }
     .description {
         max-width: 100%;
         margin: 88px auto 0 auto;
         padding: 0 24px 0 24px;
     }
     .cards {
         grid-template-columns: repeat(auto-fill, 352px);
         gap: 16px 16px;
         padding: 0 24px 0 24px;
     }
     .places {
         border: 1px solid rgb(248, 11, 11);
         margin: 0 auto 0 auto;
         max-width: 100%;
         padding: 88px 24px 0 24px;
         display: grid;
         grid-template-columns: 340px 1fr;
         column-gap: 32px;
     }
     .places__image {
         width: 340px;
     }
     .places__title {
         margin-top: 64px;
         font-size: 42px;
         font-style: normal;
         font-weight: 900;
         line-height: 46px;
         letter-spacing: 0em;
         text-align: left;
     }
     .places__paragraph {
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 26px;
         letter-spacing: 0em;
         text-align: left;
     }
     .final {
         width: 100%;
         height: calc(100vw * 0.625);
     }
     .footer {
         max-width: 100%;
         margin: 88px 24px 24px 24px;
     }
 }
 
 @media screen and (min-width: 320px) and (max-width: 768px) {
     .header {
         border: 1px solid rgb(248, 11, 11);
         margin: 0 16px 0 16px;
         padding-top: 16px;
         justify-content: space-between;
     }
     .header__logo-container {
         border: 1px solid rgb(248, 11, 11);
     }
     .header__logo {
         border: 1px solid rgb(248, 11, 11);
         width: 142px;
         height: 42px;
     }
     .header__lang-link {
         border: 1px solid rgb(248, 11, 11);
         width: 22px;
         font-size: 18px;
         line-height: 20px;
     }
     .header__logo {
         width: 142px;
     }
     .intro__title {
         font-size: 40px;
         line-height: 44px;
     }
     .intro__subtitle {
         margin-top: 16px;
         font-size: 16px;
         font-weight: 400;
         line-height: 20px;
     }
     .image-section {
         max-width: 100%;
         margin: 40px auto 0 auto;
     }
     .description {
         max-width: 100%;
         margin-top: 64px;
         padding: 0 16px 0 16px;
     }
     .description__question {
         font-size: 32px;
         line-height: 35px;
     }
     .cards {
         grid-template-columns: repeat(auto-fill, 100%);
         gap: 16px 16px;
         margin-top: 64px;
         padding: 0 16px 0 16px;
     }
     .places {
         border: 1px solid rgb(248, 11, 11);
         margin: 64px auto 0 auto;
         max-width: 100%;
         padding: 0;
         display: grid;
         grid-template-columns: 1fr;
         column-gap: 32px;
     }
     .places__image {
         width: 100%;
         margin-top: 32px;
     }
     .places__title {
         margin: 50px 16px 0 16px;
         font-size: 42px;
         font-style: normal;
         font-weight: 900;
         line-height: 46px;
         letter-spacing: 0em;
         text-align: left;
     }
     .places__title:first-child {
         margin: 0 16px 0 16px;
     }
     .places__description {
         margin: 32px 16px 0 16px;
     }
     .places__paragraph {
         margin: 0 auto 0 auto;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 26px;
         letter-spacing: 0em;
         text-align: left;
     }
     .places__source-links {
         margin: 32px 0 0 16px;
     }
     .final {
         margin-top: 66px;
         width: 100%;
         height: calc(100vw * 0.625);
     }
     .final__text_title {
         font-size: 32px;
         line-height: 35px;
     }
     .final__text_subtitle {
         font-size: 14px;
         line-height: 16px;
     }
     .footer {
         max-width: 100%;
         flex-direction: column;
         margin: 64px 16px 16px 16px;
     }
     .footer__links {
         flex-direction: column;
         gap: 32px;
     }
     .footer__link {
         font-size: 24px;
         font-weight: 400;
         line-height: 24px;
     }
     .footer__copyright {
         margin-top: 48px;
         font-size: 14px;
         line-height: 14px;
         text-align: left;
     }
 }