        @import url(./vendor/normalize.css);
        @import url('https://rsms.me/inter/inter.css');
        body,
        h1,
        h2,
        h3,
        h4,
        p,
        ul,
        ol,
        li {
            margin: 0;
        }
        
        .body {
            background: #2A2C2F;
            border: 2px solid rgb(248, 11, 11);
            margin: 0 auto 0 auto;
        }
        
        .page {
            border-color: aqua;
            font-family: 'Inter', sans-serif;
            color: #fff;
            max-width: 1280px;
            margin: inherit;
        }
        
        .header {
            border: 2px solid rgb(248, 11, 11);
            margin: 0 48px 0 48px;
            display: flex;
            flex-wrap: nowrap;
            max-width: 1280px;
            padding-top: 28px;
            align-items: center;
            justify-content: start;
            align-content: space-between;
            align-self: center;
        }
        
        .header__logo-container {
            border: 2px solid rgb(248, 11, 11);
            width: calc(100% - 96px);
        }
        
        .header__logo {
            border: 2px solid rgb(248, 11, 11);
            width: 176px;
            height: 52px;
        }
        
        .header__lang-link {
            border: 2px solid rgb(248, 11, 11);
            color: #fff;
            text-decoration: none;
            width: 30px;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            margin-right: 18px;
        }
        
        .intro {
            border: 2px solid rgb(248, 11, 11);
            margin: 48px auto 0 auto;
        }
        
        .intro__title {
            font-size: 96px;
            font-weight: 900;
            line-height: 100px;
            letter-spacing: 0em;
            text-align: center;
        }
        
        .intro__subtitle {
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 32px;
        }
        
        .image-section {
            border: 2px solid rgb(248, 11, 11);
            max-width: 984px;
            margin: 56px auto 0 auto;
        }
        
        .image-section__image {
            max-width: inherit;
            margin: 0 auto 0 auto;
        }
        
        .image-section__caption {
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 1.5px;
            text-align: left;
            margin-top: 8px;
        }
        
        .description {
            border: 2px solid rgb(248, 11, 11);
            max-width: 690px;
        }
        
        .description__question {
            margin-top: 92px;
            font-size: 54px;
            font-weight: 900;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .description__article {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .description__digits {
            margin-top: 33px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .cards {
            /* max-width: 1280px; */
            border: 2px solid rgb(248, 11, 11);
            /* width: inherit; */
            margin: 92px auto 0 auto;
            padding: 0 16px 0 16px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
            gap: 16px 16px;
        }
        
        .card__image {
            border: 2px solid rgb(248, 11, 11);
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
        
        .places {
            margin: 92px auto 0 auto;
            max-width: 984px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .places__image {
            border: 2px solid rgb(248, 11, 11);
            object-fit: cover;
            width: 460px;
            max-height: 100%;
        }
        
        .places__title {
            margin: 80px 0 48px 0;
            font-family: Inter;
            font-size: 72px;
            font-style: normal;
            font-weight: 900;
            line-height: 76px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .places__title:first-child {
            margin-top: 0;
        }
        
        .places__url-text {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2px;
            color: #AAAAAA;
            margin-bottom: 12px;
        }
        
        .places__link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
        
        .places__paragraph {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 26px;
        }
        
        .places__paragraph:last-child {
            margin-bottom: 0;
        }
        
        .places__source-links {
            display: flex;
            flex-direction: column;
            /* align-items: flex-start;
            align-content: flex-end; */
            align-self: flex-end;
            margin-bottom: 48px;
        }
        
        .final {
            border: 2px solid rgb(248, 11, 11);
            position: relative;
            display: flex;
            max-width: calc(100% - 96px);
            height: 740px;
            margin: 92px auto 0 auto;
            align-items: center;
            justify-content: space-around;
        }
        
        .final::after {
            content: "";
            background-color: #2A2C2F;
            background: url(./images/cover-trains.jpg);
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 0;
        }
        
        .final__text {
            top: 50%;
            left: 50%;
        }
        
        .final__text_title {
            font-family: Inter;
            font-size: 72px;
            font-style: normal;
            font-weight: 900;
            line-height: 76px;
            letter-spacing: 0em;
            text-align: center;
        }
        
        .final__text_subtitle {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
        }