@import url(./vendor/normalize.css);
.page {
    background: #2A2C2F;
    color: #fff;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 28px 48px 48px 48px;
    align-items: center;
    justify-content: start;
}

.header__logo {
    width: 176px;
}

.header__lang-link {
    color: #fff;
    text-decoration: none;
    width: 30px;
}