.places__title {
    width: 440px;
    margin: 80px 0 48px 0;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
}

.places__title:first-child {
    margin-top: 0;
}

@media screen and (width: 768px) {
    .places__title {
        margin-top: 73px;
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
    .places__title:first-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places__title {
        width: 304px;
        margin: 50px 0 32px 16px;
        font-size: 32px;
        line-height: 35px;
    }
    .places__title:first-child {
        margin-top: 0;
    }
}