.final {
    margin: 92px auto 0 auto;
    width: 1184px;
    height: 740px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .final {
        width: 100%;
        height: calc(100vw * 0.625);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .final {
        margin-top: 66px;
    }
}